/*Alto fijo para imagen de logo del encabezado*/
header div img {
    height: 65px;
}

/*Centrado de contenido del header*/
header div {
    text-align: center;
}
/*Ancho del 90% en la línea*/
header div hr {
    width: 90%;
}

header div nav ul {
    list-style: none;
    display: inline-block;
}

header div nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header div nav ul li a {
    display: block;
    padding: 10px; 
    margin-right: 40px;
    text-decoration: none;
    background-color: #F09A99;
    border-radius: 10px;
    color: black;
}
.botones-navegacion {
    display: block;
    padding: 10px; 
    margin-right: 40px;
    text-decoration: none;
    background-color: #F09A99;
    border-radius: 10px;
    color: black;
}
ul {
  list-style: none;  
}

/*Estilos footer*/
.logoFooter {
    height: 40px;
}

.footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.seccionLinks {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    border: #D9D9D9 solid;
    border-top-left-radius: 100px;
    background-color: #D9D9D9;
    grid-column-start: 2;
    grid-column-end: 5;
    font-family: Arial, Helvetica, sans-serif;
}

.seccionLinks .colBotones a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
}

.seccionLinks .colBotones ul li {
    margin-bottom: 5px;
}

.colRedes .redesSociales img {
    height: 30px;
    margin-left: 15px;
    filter: invert(79%) sepia(74%) saturate(801%) hue-rotate(298deg) brightness(102%) contrast(86%);
}

.colLogo {
    margin-top: 50px;
    margin-left: 50px;
}

.headerTitle {
    height: 70px;
    width: 100%;
    background-image: url(/public/img/coleccion.jpg);
    background-position: center;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.headerTitle div {
    background-color: #F1E9DC;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-left: 20%;
    margin-bottom: 30px;
}

.group {
    position: relative;
}

.textGroup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    text-decoration: none;
}

.textGroup h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F1E9DC;
    color: black;
}

.padding-colecciones {
    padding: 0;
}
@media only screen and (max-width: 797px) {
    footer {
        display: none;
    }

    .group img {
        height: 300px;
    }

    .container .row .col {
        text-align: center !important;
    }
}

@media only screen and (min-width: 800px) and (max-width: 990px) {

    .group img {
        height: 300px;
    }
}