body {
    font-family: Arial, Helvetica, sans-serif;
}
    /*Alto fijo para imagen de logo del encabezado*/
header div img {
    height: 65px;
}

/*Centrado de contenido del header*/
header div {
    text-align: center;
}
/*Ancho del 90% en la línea*/
header div hr {
    width: 90%;
}

header div nav ul {
    list-style: none;
    display: inline-block;
}

header div nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header div nav ul li a {
    display: block;
    padding: 10px; 
    margin-right: 40px;
    text-decoration: none;
    background-color: #F09A99;
    border-radius: 10px;
    color: black;
}

ul {
  list-style: none;  
}

/*Estilos footer*/
.logoFooter {
    height: 40px;
}

.footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.seccionLinks {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    border: #D9D9D9 solid;
    border-top-left-radius: 100px;
    background-color: #D9D9D9;
    grid-column-start: 2;
    grid-column-end: 5;
    font-family: Arial, Helvetica, sans-serif;
}

.seccionLinks .colBotones a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
}

.seccionLinks .colBotones ul li {
    margin-bottom: 5px;
}

.colRedes .redesSociales img {
    height: 30px;
    margin-left: 15px;
    filter: invert(79%) sepia(74%) saturate(801%) hue-rotate(298deg) brightness(102%) contrast(86%);
}

.colLogo {
    margin-top: 50px;
    margin-left: 50px;
}

.headerTitle {
    height: 70px;
    width: 100%;
    background-image: url(/public/img/coleccion.jpg);
    background-position: center;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.headerTitle div {
    background-color: #F1E9DC;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border:#F09A99 solid 1.5px;
    height: 25px;
    width: 100%;
    margin-bottom: 7px;
}

textarea {
    border:#F09A99 solid 1.5px;
    width: 100%;
}

main {
    text-align: left;
    margin-left: 35%;
}

main a {
    background-color: #F09A99;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 15px;
    float: right;
}

table {
    margin-bottom: 30px;
    border-spacing: 10px;
}
